.notNavBar{
    margin: 60px;
    margin-top: 0px;
}

.home{
    background-color: #E5E5E5;;
    padding-bottom: 20px;
}

.generalInfoWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 20px;
    background-color: rgb(222, 222, 222);
    font-family: 'Work Sans', sans-serif;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
}