.patient-table{
    width: 80%;
    border-collapse: collapse;
    margin: auto;
    border-spacing: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid black;
}

.patient-table th{
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    padding: 10px;
    border: 1px solid black;
}

.patient-table td{
    padding: 10px;
    border: 1px solid black;
}

.checkboxContainer{
    display: flex;
    align-items: center;
}

.checkboxContainer input {
    opacity: 100%;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
    border: 3px solid #243E36;
    border-radius: 20px;
    margin-left: 10px;
}

.checkboxContainer:hover input {
    background-color: #ccc;
}