.notNavBar{
    background-color: #E5E5E5;
    margin: 0;
}

.wrapper{
    margin: 60px;
    margin-top: 0px;
    padding: 10px;
}

.add-new-datalog{
    box-sizing: border-box;
    height: 60px;
    width: 250px;
    background: #FFFFFF;
    border: 3px solid #243E36;
    font-size: 20px;
    border-radius: 20px;
    font-family: 'work sans', sans-serif;
    display: block;
    margin-bottom: 20px;
}

.timeline{
    display: grid;
    grid-template-columns: 0.25fr 4px 0.5fr;
}

.timeline p {
    margin-top: 8px;
    margin-bottom: 8px;
}

.timeline-component{
    margin: 0 20px 20px 20px;
}

.timeline-data-entry{
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    border: solid black 2px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    max-width: 300px;
}

.timeline-middle{
    position: relative;
    background-color: black;
}

.timeline-date{
    text-align: right;
}

.timeline-point{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.exampleColorHome{
    width: 60px;
    height: 30px;
    padding: 3px;
    border-radius: 5px;
}