.generalInfo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 20px;
    background-color: #E5E5E5;
    font-family: 'Work Sans', sans-serif;
    max-width: 1000px;
    margin: auto;
}

.palliativeCare, .pcnCare, .biliaryCare{
    margin: 10%;
    background-color: #C6D6B9;
    border-radius: 20px;
    padding: 20px;
}

.palliativeCare:hover, .pcnCare:hover, .biliaryCare:hover{
    background-color: #E5E5E5;
    transition: all .4s ease-out;

}

.palliativeCare h3, .pcnCare h3, .biliaryCare h3{
    font-weight: 500;
    font-size: 20px;

}

.readMore{
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    padding: 4px;
    background-color: #C6D6B9;
    transition: all .2s ease-out;
}

.readMore:hover{
    background-color: lightgray;
    transform: translate(0, 2px);
    color: black;
}





