.createAcc-form {
    color: white;
}

.createAcc-form h1 {
    margin-top: 10px;
    font-size: 32px;
    font-weight: 600;
}

.error{
    color: red;
}

.createAcc-form h2 {
    font-weight: 500;
    font-size: 24px;
}

.createAcc-form button{
    display: block;
}

.create-acc-input{
    box-sizing: border-box;
    height: 40px;
    width: 250px;
    background: #FFFFFF;
    border: 3px solid #243E36;
    font-size: 16px;
    border-radius: 20px;
    font-family: 'work sans', sans-serif;
    display: block;
    margin-bottom: 20px;
    padding: 5px;
}

.create-acc-button{
    box-sizing: border-box;
    height: 40px;
    width: 250px;
    background: #FFFFFF;
    border: 3px solid black;
    border-radius: 20px;
    display: block;
    font-family: 'work sans', sans-serif;
    font-size: 14px;
}