.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
    width: 0px;
    height: 100vh;
    transition: all .5s ease-out;
  }

.createaccopen, .signinopen{
    display: block;
    transition: all .7s ease 0.2s;
    width: 350px;
    background-color: rgb(73, 83, 55);
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px;
}
