.sign-in-input{
    box-sizing: border-box;
    height: 60px;
    width: 300px;
    background: #FFFFFF;
    border: 3px solid #243E36;
    font-size: 16px;
    border-radius: 20px;
    font-family: 'work sans', sans-serif;
    display: block;
    margin-bottom: 20px;
    padding: 3px;
}

.signIn h1, .signIn h2, .signIn h3{
    color: white;
}

.signIn h1{
    font-size: 36px;
    line-height: 42px;
    font-weight: 600;
    margin-top: 15px;
}

.signIn h2{
    font-weight: 300;
    margin-bottom: 5px;
}

.signIn h3{
    font-weight: 350;
    font-size: 20px;
}

.sign-in-button{
    box-sizing: border-box;
    height: 60px;
    width: 300px;
    background: #FFFFFF;
    border: 3px solid black;
    border-radius: 20px;
    display: block;
    font-family: 'work sans', sans-serif;
    font-size: 14px;
}

.back-button{
    box-sizing: border-box;
    padding: 5px;
    background: #FFFFFF;
    border: none;
    border-radius: 3px;
    display: block;
    font-family: 'work sans', sans-serif;
    font-size: 20px;
    position: fixed;
    top: 10px;
    right: 15px;
}

.fblogin{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    align-items: center;
    grid-gap: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    justify-items: center;
    width: 80%;
}

.signin-form-inputs{
    background-color: #2d4e44;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.login-social {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .login-social-item {
    width: 54px;
    height: 54px;
    border-radius: 54px;
    padding: 12px;
    margin: 5 12px;
    border: 1px solid #e6e6e6;
  }
  
  .login-social-item--facebook {
    padding: 5px;
    background-color: #3C5B9B;
  }
  
  .login-social-item__image {
    width: 100%;
  }
  