.sign-in-input{
    box-sizing: border-box;
    height: 60px;
    width: 250px;
    background: #FFFFFF;
    border: 3px solid #243E36;
    font-size: 16px;
    border-radius: 20px;
    font-family: 'work sans', sans-serif;
    display: block;
    margin-bottom: 20px;
    padding: 3px;
}

.signIn h1, .signIn h2{
    color: white;
}

.signIn h1{
    font-size: 36px;
    line-height: 42px;
    font-weight: 600;
    margin-top: 15px;
}

.signIn h2{
    font-weight: 500;
}

.sign-in-button{
    box-sizing: border-box;
    height: 60px;
    width: 250px;
    background: #FFFFFF;
    border: 3px solid black;
    border-radius: 20px;
    display: block;
    font-family: 'work sans', sans-serif;
    font-size: 14px;
}

.back-button{
    box-sizing: border-box;
    padding: 5px;
    background: #FFFFFF;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    font-family: 'work sans', sans-serif;
    font-size: 14px;
    position: fixed;
    top: 10px;
    right: 9px;
}

.fblogin{
    margin-top: 10px;
}

.login-social {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .login-social-item {
    width: 54px;
    height: 54px;
    border-radius: 54px;
    padding: 12px;
    margin: 5 12px;
    border: 1px solid #e6e6e6;
    /* box-shadow: 0 2px 4px #d6d6d6; */
  }
  
  .login-social-item--facebook {
    padding: 5px;
    background-color: #3C5B9B;
  }
  
  .login-social-item__image {
    width: 100%;
  }
  