.navbar{
    background-color: white;
    height: 50px;
}

.navbar button, .navbar li{
    background-color: white;
    color: black;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    height: 50px;
}

#DrainPal{
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: black;
    font-style: italic;
    margin-top: 6px;
    margin-left: 35px;
    margin-right: 35px;
}

.navbar button:hover, .menuhover:hover{
    background-color: lightgray;
    color: black;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
}

.navbar li, .navbar Link {
    float: right;
}

.navbar li:first-child {
    float: left;
}