.horizontal-slider {
    width: 100%;
    max-width: 300px;
    height: 7vh;
    margin: 20px 0px;
  }
  .example-thumb {
    cursor: pointer;
    position: absolute;
    z-index: 100;
    background: black;
    border: 5px solid black;
    border-radius: 100%;
    display: block;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
  }
  .example-thumb.active {
    background-color: black;
  }
  .example-track {
    position: relative;
    background: black;
  }
  .example-track.example-track-0 {
    background: black;
  }
  .horizontal-slider .example-track {
    top: 20px;
    height: 4px;
  }
  .horizontal-slider .example-thumb {
    top: 12px;
    width: 10px;
    outline: none;
    height: 10px;
    line-height: 60px;
  }